
p{
color:blue;
font-size:20px;
width:200px;
}
h1{
color:red;
font-size:30px;

text-align:center;

}
a:link, a:visited{
text-decoration:none;
background-color:green;
border:1px solid blue;
color:black; }
header li{
list-style:none;
margin-bottom:10px;
width:500px;
text-align:center;}

a:hover, a:active{
color:yellow;
background:purple;}

.green{color:green;}

section div {
color:blue;
border:1px solid pink;
background-color:gray;
}
section div:nth-child(odd):hover{
background-color:green;
}


